baselines/checkpoints
baselines/MNIST
baselines/log
dataset
experiment/*/checkpoints
experiment/*/wandb
experiment/*/configs
Reference_MNIST/checkpoints
Reference_MNIST/wandb
baselines/wandb
baselines/lightning_logs
data/
.env
models/
