baselines/checkpoints
baselines/MNIST
baselines/log
dataset
experiment/*/checkpoints
experiment/*/wandb
Reference_MNIST/checkpoints
Reference_MNIST/wandb
baselines/checkpoints
baselines/wandb
baselines/lightning_logs
data/
.env
models/
