baselines/checkpoints
baselines/MNIST
baselines/log
dataset
experiment/*/checkpoints
experiment/*/wandb
experiment/*/configs
experiment/*/huggingface
experiment/*/lightning_logs
experiment/*/tmp_trainer
Reference_MNIST/checkpoints
Reference_MNIST/wandb
baselines/wandb
baselines/lightning_logs
data/
.env
models/
new_feature/checkpoints
new_feature/wandb
.DS_Store
experiment/.DS_Store
